@page "/"

<div class="container">
    <div class="row">
        @foreach (var category in _categories)
        {
        <CategoryCard Category=@category />
        }
    </div>
</div>

@code{
    private List<Category> _categories = new List<Category>()
    {
        new Category {Title = "Astronomy Picture of the Day", ImageSource = "", Description = ""},
        new Category {Title = "NASA Image and Video Library" , ImageSource = "", Description = ""}
    };
}
